In [1]:
import pandas as pd

In [2]:
ROOT_PATH = '/ssd/lzhao/projects/wechat/wechat_algo_data1/'
USER_ACTION = ROOT_PATH + 'user_action.csv'
FEED_INFO = ROOT_PATH + 'feed_info.csv'
FEED_EMBEDDINGS = ROOT_PATH + 'feed_embeddings.csv'

In [3]:
feed_info_df = pd.read_csv(FEED_INFO)
user_action_df = pd.read_csv(USER_ACTION)
feed_embed = pd.read_csv(FEED_EMBEDDINGS)

In [4]:
feed_info_df.head(3)

,feedid,authorid,videoplayseconds,description,ocr,asr,bgm_song_id,bgm_singer_id,manual_keyword_list,machine_keyword_list,manual_tag_list,machine_tag_list,description_char,ocr_char,asr_char
0,43549,6165,38,104741 122649 8109 117252 65632 23463 118668 4...,139499 59421 82007 142955 27736 83577 52394 11...,142955 27736 83577 103956 32010 34170 89740 90...,19356.0,11703.0,15506;7715;17582,26334;219;25209;7715;18541,81;269;159;6,269 0.8525666;81 0.8525666;8 1.1e-07;306 0.0;2...,26439 5247 6426 3827 1882 26018 20744 22204 30...,25926 8491 13394 2203 26439 6243 33054 16435 1...,2203 26439 6243 33054 16435 16307 17070 24908 ...
1,77432,9386,60,35753 27736 146603 73055 11794 101761 11794 81...,35753 146603 73055 11794 101761 67496 16933 52...,146739 14368 79290 79213 47366 8109 33194 1198...,NaN,NaN,8199;18322;4243,24078;19924,194;267;159;6,267 0.99293476;194 0.99293476,31010 32495 6243 13923 15360 30483 2709 26084 ...,31010 32495 13923 15360 30483 2709 26084 15160...,7259 20851 5061 26207 17573 17531 15117 20072 ...
2,12921,2996,15,114413 107973 117252 27736 41035 32715 125374 ...,NaN,NaN,10288.0,11354.0,NaN,11696;6926,202;23;160;6,23 0.64771646;202 0.64771646,27077 10050 27464 20072 26018 6243 21492 14750...,NaN,NaN

In [5]:
user_action_df.head(5)

,userid,feedid,date_,device,read_comment,comment,like,play,stay,click_avatar,forward,follow,favorite
0,8,71474,1,1,0,0,1,500,5366,0,0,0,0
1,8,73916,1,1,0,0,0,250,1533,0,0,0,0
2,8,50282,1,1,0,0,0,750,1302,0,0,0,0
3,8,11391,1,1,0,0,1,3750,5191,0,0,0,0
4,8,27349,1,1,0,0,0,250,800,0,0,0,0

In [6]:
FEA_FEED_LIST = ['feedid', 'authorid', 'videoplayseconds', 'bgm_song_id', 'bgm_singer_id']
train = pd.merge(user_action_df, feed_info_df[FEA_FEED_LIST], on='feedid', how='left')

In [7]:
train.head(5)

,userid,feedid,date_,device,read_comment,comment,like,play,stay,click_avatar,forward,follow,favorite,authorid,videoplayseconds,bgm_song_id,bgm_singer_id
0,8,71474,1,1,0,0,1,500,5366,0,0,0,0,1528,11,13745.0,3556.0
1,8,73916,1,1,0,0,0,250,1533,0,0,0,0,1442,16,NaN,NaN
2,8,50282,1,1,0,0,0,750,1302,0,0,0,0,8648,31,NaN,NaN
3,8,11391,1,1,0,0,1,3750,5191,0,0,0,0,11976,6,13096.0,5012.0
4,8,27349,1,1,0,0,0,250,800,0,0,0,0,4370,12,22215.0,7899.0

In [8]:
tmp = train.drop_duplicates(['userid', 'feedid', 'click_avatar'], keep='last')

In [9]:
tmp.head(5)

,userid,feedid,date_,device,read_comment,comment,like,play,stay,click_avatar,forward,follow,favorite,authorid,videoplayseconds,bgm_song_id,bgm_singer_id
0,8,71474,1,1,0,0,1,500,5366,0,0,0,0,1528,11,13745.0,3556.0
1,8,73916,1,1,0,0,0,250,1533,0,0,0,0,1442,16,NaN,NaN
2,8,50282,1,1,0,0,0,750,1302,0,0,0,0,8648,31,NaN,NaN
3,8,11391,1,1,0,0,1,3750,5191,0,0,0,0,11976,6,13096.0,5012.0
4,8,27349,1,1,0,0,0,250,800,0,0,0,0,4370,12,22215.0,7899.0